body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #111;
}

.hero {
  background-image: url("../img/versatile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #fff;
  padding: 24px;
}


section {
  padding: 24px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
}

.price {
  font-weight: bold;
  margin-top: 8px;
}
